{% extends "index.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Post : {{post.title}}</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12 my-4">
            <div class="d-flex">
                <img src="{{post.owner.image.url}}" alt="" width="40" height="40" class="rounded-5 me-3">
                <p>
                    {{post.owner.name}} {{post.owner.surname|slice:"1"}}.
                    <br>
                    <small class="text-muted">@{{post.owner.user.username}}</small>
                </p>
            </div>
            <h4>{{post.title}}</h4>
            <img src="{{post.image.url}}" alt="">
            <p>
                <a href="{% url 'detail' post.id post.slug %}" class="text-decoration-none text-light">
                    {{post.content|safe}}
                </a>
            </p>
            <small class="text-muted">{{post.created_at|naturaltime}}</small>
        </div>
    </div>
{% endblock content %}